In [2]:
import pandas as pd 
import json

In [3]:
df = pd.read_csv("covid19_articles_20200914.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290479 entries, 0 to 290478
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    290479 non-null  int64
 1   title         290479 non-null  object
 2   url           290479 non-null  object
 3   crawled_time  290479 non-null  object
 4   date          290479 non-null  object
 5   domain        290479 non-null  object
 6   author        130882 non-null  object
 7   content       290479 non-null  object
 8   topic_area    290479 non-null  object
dtypes: int64(1), object(8)
memory usage: 19.9+ MB

In [17]:
index = 1562
print (df.loc[index].title)
print (df.loc[index].url)

South Africans in Wuhan lockdown call for evacuation - CNN
https://www.cnn.com/2020/01/30/africa/south-africans-stranded-wuhan-intl/index.html

In [7]:
with open("named_entities.json") as fp:
    ne_json = json.load(fp)

result = {}
## 380 381 385
ne_json_cleaned = ne_json["380"] + ne_json["381"] + ne_json["385"]
ne_json_cleaned = set(ne_json_cleaned)

for i, row in df.iterrows():
    for ne in ne_json_cleaned:
        if ne in row["content"].lower():
            if result.get(ne, False) == False:
                result[ne] = 0
            result[ne] += 0

KeyboardInterrupt: